<%= form_with(model: paciente) do |form| %>
  <% if paciente.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

      <ul>
        <% paciente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome_completo, style: "display: block" %>
    <%= form.text_field :nome_completo %>
  </div>

  <div>
    <%= form.label :data_nascimento, style: "display: block" %>
    <%= form.date_field :data_nascimento %>
  </div>

  <div>
    <%= form.label :cpf, style: "display: block" %>
    <%= form.number_field :cpf %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <%= fields_for :endereco do |u| %>
    <div>
      <%= u.label :cep, style: "display: block" %>
      <%= u.number_field :cep %>
    </div>

    <div>
      <%= u.label :cidade, style: "display: block" %>
      <%= u.text_field :cidade %>
    </div>

    <div>
      <%= u.label :bairro, style: "display: block" %>
      <%= u.text_field :bairro %>
    </div>

    <div>
      <%= u.label :logradouro, style: "display: block" %>
      <%= u.text_field :logradouro %>
    </div>

    <div>
      <%= u.label :complemento, style: "display: block" %>
      <%= u.text_field :complemento %>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
