<p style="color: green"><%= notice %></p>

<%= render @medico %>

<div>
  <%= link_to "Edit", edit_medico_path(@medico),class: "btn btn-primary m-2"%> |
  <%= link_to "Back to medicos", medicos_path %>

  <%= button_to "Destroy this medico", @medico, method: :delete %>
</div>
