<!DOCTYPE html>
<html>
  <head>
    <title>Consulta Sim</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container-fluid bg-light text-white text-center mb-3 " >
      <%= link_to root_path class:'text-white' do %>
        <h1 class="display-5 navbar-brand ">Consulta Sim</h1>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
